<small>{{data.plateSelected.type}} : </small>
<small style="
float: right;
color: white;
border-radius: 50px;
min-width: 35px;
text-align: center;
background-color: #E65156">{{data.plateSelected.price}} €</small>
<h1 mat-dialog-title style="text-align: center">
    {{data.plateSelected.name}}
</h1>


<div mat-dialog-content>
    <div>
        <p *ngIf="data.plateSelected.ingredients.length >0">Ingredienti?</p>
        <mat-selection-list #selectedIngredients>
            <div *ngFor="let ing of data.plateSelected.ingredients">
                <mat-list-option [value]="ing.name" [color]="blue">
                    <label>
            {{ing}}
          </label>
                </mat-list-option>
            </div>

        </mat-selection-list>
    </div>

    <div *ngIf="data.plateSelected.ingredients.length == 0">
        <p>Nessun ingrediente da visualizzare.</p>
    </div>


</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">IN DIETRO</button>
    <button mat-button [mat-dialog-close]="selectedIngredients.selectedOptions.selected" cdkFocusInitial>VAI</button>
</div>
<!-- [mat-dialog-close]="selectedIngredients.selectedOptions.selected"  -->