<h1 mat-dialog-title>Resoconto : </h1>
<button mat-flat-button style="background-color: #E65156;color : white">STAMPA</button>

<div mat-dialog-content>
    <p>{{data.participants.length}}<small>
      scelte fatte. <br>
      cliccarne una per modificarla
    </small>
    </p>

    <mat-list role="list" style="padding: 0;margin: 0;border-spacing: .3em;">
        <div *ngFor="let p of data.participants;let i=index">
            <div *ngIf="rnDeletedChoices.indexOf(i) === -1">
                <mat-list-item role="listitem" style="width: 100%;">
                    <div (click)="selectedChose == i ? selectedChose=-1 : selectedChose=i" style="margin: 5px">
                        {{p.user.name}}
                        <!-- {{p.user.surname}} -->
                        {{p.plate.name}}
                        <small *ngIf="p.plate.ingredients == p.plate.selectedIngredients">con tutto</small>
                    </div>
                    <i class="material-icons" style="position: absolute;right: 0px;opacity: .5;" *ngIf="p.user._id == data.userId" (click)="deleteChoice(i,data.idMenu)">
            cancel
          </i>
                </mat-list-item>

                <div *ngIf="selectedChose == i">

                    <mat-form-field style="width: 100%;">
                        <mat-chip-list #chipList aria-label="Fruit selection">
                            <mat-chip *ngFor="let ingredient of p.plate.selectedIngredients" [selectable]="selectable" [removable]="removable" (removed)="deleteIngredient(ingredient,p.plate)">
                                {{ingredient}}
                                <mat-icon matChipRemove *ngIf="p.user._id == data.userId ? true : false">cancel
                                </mat-icon>
                            </mat-chip>
                            <input placeholder="Ingredienti per {{p.user.name}} : " [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" [matChipInputFor]="chipList" (matChipInputTokenEnd)="addIngredient($event,p.plate)">
                        </mat-chip-list>
                        <!-- [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur" -->
                    </mat-form-field>

                </div>
            </div>
        </div>
    </mat-list>

</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">IN DIETRO</button>
    <button mat-button [mat-dialog-close]="" cdkFocusInitial>OK PRENOTATO</button>
</div>
<!-- [mat-dialog-close]="selectedIngredients.selectedOptions.selected"  -->
