<h1>
    Ciao <label *ngIf="currentUser">{{currentUser.data.name}}!</label></h1>
<p>Home</p>

<h1>
    Menù di oggi! :
</h1>

<ul>
    <li *ngFor="let menu of menus;let i = index">

        <div class="card" style="padding : 5px">
            <div class="card-content">
                <div class="media">
                    <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://static.123apps.com/pdf/i/fav/64.png" alt="Download image">
                        </figure>
                    </div>
                    <div class="media-content" style="padding-left : 5px">
                        <p> Menù inserito da : <br><small> {{menu.inserted_by.name}} {{menu.inserted_by.surname}}</small></p>
                    </div>

                </div>
                <div style="margin-left : 22%">
                    <p>
                        <button (click)="openChoicesDialog(menu._id)" mat-flat-button style="color:white;background-color:#E65156">Visualizza Scelte</button>
                    </p>
                </div>

                <div class="card">
                    <header class="card-header" style="padding : 5px" (click)="indexMenuSelected==i ? indexMenuSelected =-1 : indexMenuSelected = i">
                        <p class="card-header-title" style="margin-left : 6px;margin-bottom: 6px">
                            Piatti :

                            <i class="fas fa-angle-down" style="margin-left:70%" aria-hidden="true"></i>

                        </p>

                    </header>
                    <div class="card-content" *ngIf="indexMenuSelected==i">

                        <mat-selection-list #plates>

                            <div *ngFor="let plate of menu.plates">
                                <mat-list-option style="padding : 8px;height: auto;" (click)="openPlateDialog(plate,menu._id,plates)" [value]="plate.name">
                                    <div>
                                        <mat-card-header>

                                            <div>
                                                <!-- <div mat-card-avatar class="example-header-image" style="background-image :
                                            url('https://ui-avatars.com/api/?rounded=true&name=Lasagna'); width: 10px">
                                            </div> -->

                                                <mat-card-title class="ellipsis"><small> {{plate.name}}</small>
                                                </mat-card-title>
                                                <mat-card-subtitle><small> {{plate.price}} € </small> </mat-card-subtitle>
                                            </div>

                                        </mat-card-header>
                                        <!-- <img mat-card-image [src]=" 'https://https://ui-avatars.com/api/?rounded=true&name='
                                          + plate.name
                                          + 'color=E65156'" alt="Foto Lettere"> -->

                                    </div>

                                </mat-list-option>
                                <mat-divider></mat-divider>

                            </div>
                        </mat-selection-list>
                        <p>
                            Piatti selezionati : {{plates.selectedOptions.selected.length}}
                        </p>
                    </div>
                    <footer class="card-footer">

                    </footer>
                </div>

                <div class="content">
                    <time datetime="2016-1-1">{{menu.inserted_on  | date}}</time>
                </div>
            </div>
        </div>

        <a [href]="'http://172.22.8.160:3000/menu/pdf/'+menu.name_file" class="text-danger">Scarica</a>
    </li>
</ul>


<h1>
    Inserisci nuovo Menù! :
</h1>

<div class="field">
    <div class="file is-centered is-boxed is-success has-name">
        <label class="file-label">
      <input class="file-input" type="file" (change)="fileChange($event)" placeholder="Carica Menù pdf"
        accept=".pdf,.doc,.docx" name="resume">
      <span class="file-cta">
        <span class="file-icon">
          <i class="fas fa-upload"></i>
        </span>
        <span class="file-label">
          Upload PDF
        </span>
      </span>
      <span class="file-name">
        nome-file.pdf
      </span>
    </label>
    </div>
</div>

<!-- <input type="file" (change)="fileChange($event)" placeholder="Carica Menù pdf" accept=".pdf,.doc,.docx"> -->
